
@font-face {
  font-family: 'CooperB';
  src: url('fonts/CooperB.eot'), * IE9 Compat Modes *
  url('fonts/CooperB.eot#iefix') format('embedded-opentype'), * IE6-IE8 *
  url('fonts/CooperBI.otf') format('opentype'), /* Open Type Font */
  url('fonts/CooperB.woff') format('woff'), * Modern Browsers *
  url('fonts/CooperB.ttf')  format('truetype'), * Safari, Android, iOS *
  url('fonts/CooperB.svg') format('svg'), /* Legacy iOS */
  url('fonts/CooperB.woff2') format('woff2'); /* Modern Browsers */
}
@font-face {
  font-family: 'CooperBi';
  src: url('fonts/CooperBi.eot'), /* IE9 Compat Modes */
   url('fonts/CooperBi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/CooperBi.otf') format('opentype'), /* Open Type Font */
    url('fonts/CooperBi.svg') format('svg'), /* Legacy iOS */
    url('fonts/CooperBi.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/CooperBi.woff') format('woff'), /* Modern Browsers */
    url('fonts/CooperBi.woff2') format('woff2'); /* Modern Browsers */

}

@font-face {
  font-family: 'SBKLi';
  src: url('fonts/SBKLi.eot'), * IE9 Compat Modes *
  url('fonts/SBKLi.eot#iefix') format('embedded-opentype'), * IE6-IE8 *
  url('fonts/SBKLi.otf') format('opentype'), /* Open Type Font */
  url('fonts/SBKLi.woff') format('woff'), * Modern Browsers *
  url('fonts/SBKLi.ttf')  format('truetype')
  url('fonts/SBKLi.svg') format('svg'), /* Legacy iOS */
  url('fonts/SBKLi.woff2') format('woff2'); /* Modern Browsers */; * Safari, Android, iOS *
}


html,body{
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.wrapper {
  width: 100%;
  height: 100%;
}

.cover {
    font-family: 'CooperB';
    color: white;
    height: 100%;
    width: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    z-index: 100000;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.title{
}


.title p {
  font-size: 18vw;
  line-height: 18vw;
  text-decoration: none;
  padding: 4%;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.name{
  font-size: 5vw;
  line-height: 7vw;
  position:absolute;
  width: 100%;
  padding: 4%;
  bottom: 0;
}

.name p {
    margin-block-start: 0em;
        margin-block-end: 0em;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 1%;
  font-size: 18vw;
  width: 140px;
}

h1 {
  font-family: 'CooperB';
  color: black;
  font-size: 1.5vw;
  margin-block-end: 3em;
}

h1 i {
  font-family: 'CooperBi';
}

h1 p {
  padding-left: 1% 0 0 2%;
  margin-left: 8% 0 0 10%;
  text-decoration: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

h2 {
  font-family:'SBKLi';
  color: black;
  font-size: 1.5vw;
  margin-block-end: 3em;
}

h2 u {
  text-decoration: none;
  border-bottom: 1px solid black;
}

h3 {
}


h4 {
  font-family: 'CooperB';
  color: black;
  font-size: 16vw;
  line-height: 18vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 i {
  font-family: 'CooperBi';
}



#invert{
  background-color: black;
  -webkit-box-shadow: 100px 0px 90px 140px rgba(0,0,0,1), -100px 0px 90px 140px rgba(0,0,0,1);
  -moz-box-shadow: 100px 0px 90px 140px rgba(0,0,0,1), -100px 0px 90px 140px rgba(0,0,0,1);
  box-shadow: 100px 0px 90px 140px rgba(0,0,0,1), -100px 0px 90px 140px rgba(0,0,0,1);
}

#invert p {
  font-family:'SBKLi';
  color: white;
  font-size: 1.5vw;
}

#invert a{
  font-family:'SBKLi';
  color: white;
  font-size: 10vw;
  line-height: 12vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.media{
  height: 550px;
  width: auto;
  z-index: 1000;
  position: sticky;
  top:0;
  display: block;
  /* max-width: 800px; */
}

/* .page-scroll-indicator {
  width: 100%;
  height: 5px;
  background: white;
}

.progress {
  width: 0%;
  height: 5px;
  background: red;
} */


.table {
  z-index: 10000;
  width: 100%;
  height: 40px;
  position: sticky;
  padding-bottom: 1%;
  background-color: black;
  -webkit-box-shadow: 0px 10px 70px 40px rgba(0,0,0,1);
  -moz-box-shadow: 0px 10px 70px 40px rgba(0,0,0,1);
  box-shadow: 0px 10px 70px 40px rgba(0,0,0,1);
}

.table p{
  padding: 2% 3% 0 4%;
  margin: 0;
  text-align-last: justify;
}

.table a{
  text-decoration: none;
  color: white;
  font-family: 'CooperB';
  font-size: 3.5vw;
  margin-block-start: 0em;
  margin-block-end: 0em;
}


.container{
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 95%;
  bottom: 0;
  z-index: 10;
}


.text{
  /* position: relative;
  height: relative; */
  margin: 4%;
}



.text span {
  border: 6px outset white;
  border-radius: 40px;
}


h5 {
  font-family: 'CooperB';
  font-size: 0.6vh;
  color: black;
}

.vidsrcs{
  z-index: 100000;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  bottom: 0;
  padding: 2% 4% 1% 4%;
  border-top: 1px  white solid;
  font-family: 'CooperB';
      text-decoration: none;
        font-size: 3vw;
        color: white;

}

.vidsrcs a {
    text-decoration: none;
      font-size: 3vw;
      color: white;

}
